@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
    background-color: #F4EDE5;
    color: #212121;
    overflow-x: hidden;
}

header {
    background-color: #F4EDE5;
    padding: 10px 40px;
}

@media (max-width: 768px) {
  header{
    padding: 0px;
  }
}

.hero {
    background-color: #F4EDE5;
    text-align: center;
    background-image: url('cover-image.png');
    background-position: center;
    padding: 230px 20px;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: white;
}


@media (max-width: 768px) {
  .hero {
    padding: 110px 20px;
  }

  .hero h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}


.section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #9b090d;
}

.item {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    width: 280px;
}


.contact p {
    font-size: 1rem;
    margin: 10px 0;
}

footer {
    background-color: #F4EDE5;
    text-align: center;
    padding: 15px;
    color: #666;
}

.order-button {
  text-decoration: none;
  background-color: #212121;
  color: white;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
}


.button {
  text-decoration: none;
  background-color: #212121;
  color: white;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  position: relative;
  z-index: 0; 
  overflow: hidden; 
}

.button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg,
    #9b090d,
    #ff3e3e,
    #9b090d
  );
  animation: aurora 5s linear infinite;
  z-index: -1;
  filter: blur(25px);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.button:hover::before {
  opacity: 1;
}

.button:hover {
  transform: scale(1.07);
  background-color: #000;
}

@keyframes aurora {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes wiggle {
  0%, 100% { transform: rotate(0); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
}

.order-button:hover {
  animation: wiggle 0.3s ease;
  background-color: #9b090d;
  color: white;
}


.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
  display: inline-block;
  height: 70px; /* Adjust as needed */
}

.logo img {
  height: 100%;
  width: auto;
  display: block;
  border-radius: 20px;
}

@media (max-width: 768px){
  .logo {
    height: 50px;
  }
}

.footer-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
}

.footer-column p, .footer-column a {
    color: #666;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #9b090d;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers content horizontally */
    text-align: center;
  }
  
.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-icon {
  width: 50px;
  height: 50px;
  background-color: #1877F2;
  border-radius: 25%;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  font-size: 35px;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icon i {
  vertical-align: middle;
  line-height: inherit;
  color: white;
}

.social-icon:hover {
  transform: scale(1.1);
}


.copyright {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #555;
    color: #555;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-column {
        flex: 100%;
        margin-bottom: 30px;
    }
}


.stats-section {
    background-color: #FAFAF7;
    padding: 15px 10px;
    text-align: center;
  }
  
.stats-container {
  display: flex;
  justify-content: center;
  gap: 130px;
  flex-wrap: wrap;
}

.stat h2 {
  font-size: 64px;
  color: #F5C518;
  margin: 0;
  font-weight: 700;
}

.stat p {
  font-size: 24px;
  color: #222;
  margin-top: 8px;
  font-weight: 500;
}
  

@media (max-width: 768px) {
  .stats-section {
    padding: 20px 5px;
  }

  .stats-container {
    gap: 25px;
  }

  .stat p {
    font-size: 12px;
    margin-top: 2px;
  }

  .stat h2 {
    font-size: 35px;
    font-weight: bold;
  }
}
  
.scroll-section {
  padding: 20px 0;
  background-color: #F4EDE5;
  overflow: hidden;
}

.ticker-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll linear infinite;
}

.ticker-text {
  display: inline-block;
  font-size: 2rem;
  color: #333;
}

@media (max-width: 768px) {
  .scroll-section {
    padding: 10px 0;
  }

  .ticker-text {
    font-size: 1.5rem;
    color: #333;
  }
}
  
  @keyframes scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  

/* Navbar base */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: relative;
  }
  
  .navbar .logo {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  /* Nav links */
  
  .nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
  }

  /* Hamburger hidden by default */
  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
      color: black;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links.show {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background: #F4EDE5;
      border: 1px solid #ddd;
      padding: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      z-index: 100;
      border-radius: 12px;
    }
  }
  
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  z-index: 100;
  background-color: #F4EDE5;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #212121;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #9b090d;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px; /* increase or decrease this number to control spacing */
}

nav ul li {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #9b090d;
  transition: width 0.3s ease;
}

.nav-link:hover {
  transform: translateY(-3px);
  color: #9b090d;
}

.nav-link:hover::after {
  width: 100%;
}

.menu-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family: 'Segoe UI', sans-serif;
}
.menu-title {
  font-size: 2rem;
  margin-bottom: 20px;
  border-bottom: 3px solid #eee;
  padding-bottom: 10px;
}
.menu-category {
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.menu-header {
  background-color: #f8f8f8;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
.menu-items {
  display: none;
  padding: 10px 20px;
}
.menu-category.active .menu-items {
  display: block;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 15px 0;
  border-bottom: 1px dashed #ddd;
}
.menu-item:last-child {
  border-bottom: none;
}
.menu-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.item-details {
  flex: 1;
}
.item-details strong {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}
.item-details p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}
.item-details span {
  font-weight: bold;
  color: #333;
  margin-top: 5px;
  display: inline-block;
}

.modern-menu-header {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin-bottom: 30px;
}

.header-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.header-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  max-width: 100%;
}

.header-text h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 600;
}

.header-text p {
  font-size: 1.2rem;
  margin-top: 5px;
  opacity: 0.9;
  font-family: 'Segoe UI', sans-serif;
}


.fan-favourites {
  background-color: #FAFAF7;
  max-width: auto;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.fan-favourites h2 {
  padding-top: 20px;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 30px;
  padding: 10px 0;
  scrollbar-width: none;
  border-radius: 12px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.favourite-card {
  flex: 0 0 calc(33.333% - 20px);
  background-color: #F4EDE5;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.favourite-card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.card-info {
  padding: 15px 20px;
}

.card-info h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #222;
}

.card-info p {
  font-size: 1rem;
  color: #666;
  margin-top: 8px;
}

/* Arrow buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%) scale(1.1);
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}


/* Mobile view: show 1 card */
@media (max-width: 768px) {
  .favourite-card {
    flex: 0 0 100%;
  }
}

.visit-full-white {
  background-color: #FAFAF7;
  width: 100%;
  padding: 40px 20px;
}

.visit-inner {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.visit-inner h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000;
}

.map-container {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}


.contact-page {
  background: #FAFAF7;
  padding: 40px 40px;
  text-align: center;
  color: #333;
}

.contact-page h2 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 30px;
}

.contact-page h1{
  margin-bottom: 10px;
}

.contact-page li{
  font-size: 1.1rem;
  color: #666;
}

.contact-page p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 60px;
}

.contact-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 60rem;
  margin: 0 auto;
}

.info-block {
  flex: 1 1 10rem;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.info-block p {
  margin-bottom: 15px;
}

.faq-block {
  flex: 1 1 10rem;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.info-block h3, .faq-block h3 {
  font-size: 1.5rem;
  padding-bottom: 25px;
}

.contact-button {
  display: inline-block;
  background-color: #9b090d;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s, transform 0.3s;
}

.contact-button:hover {
  background-color: black;
  animation: wiggle 0.3s ease;
}

.business-hours {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  color: #555;
}

.faq-question {
  width: 100%;
  text-align: left;
  background: #fff;
  border: 1px solid #ddd;
  padding: 18px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.03);
}

.faq-question:hover {
  background-color: #f0f0f0;
}

.faq-answer {
  display: none;
  padding: 12px;
  background-color: #fff;
  border-left: 4px solid #6a4029;
  border-radius: 0 0 8px 8px;
  font-size: 0.95rem;
  color: #444;
  box-shadow: 0 2px 6px rgba(0,0,0,0.03);
  margin-bottom: 10px;
}

.faq-item.active .faq-answer {
  display: block;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a {
  font-size: 1.35rem;
  color: #6a4029;
  text-decoration: none;
  transition: color 0.3s;
  line-height: 34px;
}

.social-links a:hover {
  color: #512f1e;
}


@media (max-width: 768px) {
  .contact-inline {
    flex-direction: column;
    align-items: center;
  }
}


.delivery-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.delivery-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 14px 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-width: 140px;
  height: 60px;
}

.delivery-button img {
  max-height: 90px;
  max-width: 80px;
  object-fit: contain;
}

.delivery-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-color: #ccc;
}


.order-page {
  background-color: #F4EDE5;
  text-align: center;
  background-image: url('menu-header.webp');
  background-position: center;
  padding: 230px 20px;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.order-page h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.order-page p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: white;
}


@media (max-width: 768px) {
.order-page {
  padding: 110px 20px;
}

.order-page h1 {
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.order-page p {
  font-size: 1rem;
  margin-bottom: 30px;
}
}
